<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bacs_du_site_init() hook (in hooks/bacs_du_site.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bacs_du_site-appartient_site-<%%VALUE(id)%%>" class="bacs_du_site-appartient_site"><%%VALUE(appartient_site)%%></td>
		<td id="bacs_du_site-type_de_bacs-<%%VALUE(id)%%>" class="bacs_du_site-type_de_bacs"><%%VALUE(type_de_bacs)%%></td>
		<td id="bacs_du_site-niveau_de_remplissage-<%%VALUE(id)%%>" class="bacs_du_site-niveau_de_remplissage"><%%VALUE(niveau_de_remplissage)%%></td>
