<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="membres_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="depots_view.php?filterer_par_le_membre=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="depots_link"><i class="glyphicon glyphicon-list-alt"></i> D&#233;p&#244;ts</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="depots_view.php?filterer_par_le_membre=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_depots_link"><i class="glyphicon glyphicon-list-alt"></i> D&#233;p&#244;ts</a>
			<input type="hidden" id="depots_hclink" value="depots_view.php?filterer_par_le_membre=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="transferts_view.php?filterer_par_le_membre=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="transferts_link"><i class="glyphicon glyphicon-list-alt"></i> Transferts</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="transferts_view.php?filterer_par_le_membre=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_transferts_link"><i class="glyphicon glyphicon-list-alt"></i> Transferts</a>
			<input type="hidden" id="transferts_hclink" value="transferts_view.php?filterer_par_le_membre=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="intervention_view.php?filterer_demande_par=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="intervention_link"><i class="glyphicon glyphicon-list-alt"></i> Intervention</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="intervention_view.php?filterer_demande_par=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_intervention_link"><i class="glyphicon glyphicon-list-alt"></i> Intervention</a>
			<input type="hidden" id="intervention_hclink" value="intervention_view.php?filterer_demande_par=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="membres_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="id" class="control-label col-lg-3">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Nom" class="control-label col-lg-3">Nom</label>
					<div class="col-lg-9">
						<input maxlength="64" type="text" class="form-control" name="Nom" id="Nom" value="<%%VALUE(Nom)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="prenom" class="control-label col-lg-3">Prenom</label>
					<div class="col-lg-9">
						<input maxlength="64" type="text" class="form-control" name="prenom" id="prenom" value="<%%VALUE(prenom)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="statut" class="control-label col-lg-3">Statut</label>
					<div class="col-lg-9">
						<%%COMBO(statut)%%>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="adresse_du_membre" class="control-label col-lg-3">Adresse du membre</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="adresse_du_membre" id="adresse_du_membre" rows="5"><%%VALUE(adresse_du_membre)%%></textarea>
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="email_membre" class="control-label col-lg-3">Email membre <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#email_membre-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="email_membre-description"><div class="alert alert-info">Pour l'envoi d'information</div></span>

						<input maxlength="64" type="text" class="form-control" name="email_membre" id="email_membre" value="<%%VALUE(email_membre)%%>">
					</div>
				</div>

				<div class="form-group">
					<hr class="hidden-md hidden-lg">
					<label for="Telephone_membre" class="control-label col-lg-3">Telephone membre <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Telephone_membre-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="Telephone_membre-description"><div class="alert alert-info">Pour l'envoi de SMS</div></span>

						<input maxlength="64" type="text" class="form-control" name="Telephone_membre" id="Telephone_membre" value="<%%VALUE(Telephone_membre)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="membres_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="membres-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			setTimeout(AppGini.focusFirstFormElement, 100);

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function() { /* */ return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 'membres',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'membres-children'
				);
			}

			if(!embedded_mode) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.clear(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'membres',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				}else{
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=membres&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=membres&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>